.container {
  margin-top: 51px;
  width: 100%;
  max-width: 737px;
  margin-left: auto;
  min-height: auto;
  position: relative;
  margin-right: auto;
}

.wordInput {
  width: 100%;
  height: 50px;
  background-color: #f4f4f4;
  border: 1px #f4f4f4 solid;
  padding: 25px;
  font-weight: bold;
  font-size: 20px;
  opacity: 1;
  border-radius: 16px;
  background-image: url("/images/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 700px center;
}

.wordInput:focus {
  border: 2px solid #a445ed;
  outline: none;
}

.wordInput.dark-mode {
  background-color: #1f1f1f;
  color: white;
  border: 1px #1f1f1f solid;
}

.wordInput.error {
  border: 1px red solid;
  margin-bottom: 10px;
}

.wordInput.dark-mode:focus {
  border: 2px solid #a445ed;
  outline: none;
}

.errorMessage {
  color: red;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0px;
}

.contents {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
}

.mainContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.readingWord {
  margin-top: 12px;
  color: #a445ed;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0px;
  margin-bottom: 40px;
}

.word {
  font-weight: 700;
  font-style: Bold;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0px;
}

.wordGroup {
  font-family: Inter;
  font-weight: 700;
  font-size: 24px;
  color: #2d2d2d;
  line-height: 100%;
  letter-spacing: 0px;
}

.meaning {
  margin-top: 40px;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #757575;
}

.meaningList {
  margin-left: 40px;
}

.meaningLi {
  margin-top: 25px;
  font-weight: 400;
  color: #2d2d2d;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
}

.horizontal {
  width: 100%;
  height: 2px;
  background-color: #e9e9e9;
  opacity: 1;
}

.horGroup {
  display: flex;
  gap: 10px;
  align-items: center;
}

.meaningList li::marker {
  color: #8f19e8; /* Nuqtacha rangini purple qilish */
}

.synonyms {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 40px;
  width: 100%;
  max-width: 714px;
  align-items: center;
}

.synonym {
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #757575;
}

.synn {
  font-family: Inter;
  font-weight: 700;
  font-size: 20px;
  color: #a445ed;
  line-height: 100%;
  letter-spacing: 0px;
}

.antonyms {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 25px;
  width: 100%;
  max-width: 714px;
  align-items: center;
}

.antonym {
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #757575;
}

.antony {
  font-family: Inter;
  font-weight: 700;
  font-size: 20px;
  color: #a445ed;
  line-height: 100%;
  letter-spacing: 0px;
}

.verGroup {
  margin-top: 40px;
  margin-bottom: 40px;
}

.example {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  color: #757575;
  line-height: 24px;
  letter-spacing: 0px;
}

.endLine {
  margin-top: 15px;
  height: 2px;
  width: 100%;
  background-color: #e9e9e9;
}

.source {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #757575;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
}

.link {
  font-family: Inter;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 5px;
  font-style: Regular;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  margin-bottom: 100px;
}

.aLink {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  text-decoration: none;
  color: black;
  /* text-decoration-style: solid; */
  /* text-decoration-thickness: 0%; */
}

.notFoundCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  justify-content: center;
  width: 100%;
  max-width: 660px;
  text-align: center;
  gap: 24px;
}

.notFoundCont > h2 {
  color: #2d2d2d;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
}

.notFoundCont > p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #757575;
}

.notFoundCont.dark-mode > h2 {
  color: white;
}

.wordGroup.dark-mode {
  color: white;
}

.title.dark-mode {
  color: white;
}

.horizontal.dark-mode {
  background-color: #3a3a3a;
}

.aLink.dark-mode {
  color: white;
}

.keyboard {
  display: grid;
  width: 720px;
  padding: 20px;
  gap: 8px;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(7, 1fr);
  color: white;
  background-color: black;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.key {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px white solid;
}

.tempDisplay {
  height: 75px;
  border-top-left-radius: 8px;
  font-weight: bold;
  border-top-right-radius: 8px;
  font-size: 25px;
  justify-content: center;
  border-bottom: white 1px solid;
  display: flex;
  align-items: center;
  color: white;
  width: 100%;
  max-width: 720px;
  background-color: black;
  width: 100%;
  display: flex;
}

.key:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  transition: 0.4s ease;
}

.miniContainer {
  min-height: 0;
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  position: relative; /* MUHIM */
}

.keyboardButton,
.keyCont {
  position: fixed;
}

.keyboardButton {
  position: fixed;
  bottom: 60px;

  left: 58%;
  transform: translateX(calc(737px / 2 - 80px));
  /* 737 = container max-width
     80 = button width */

  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: gray;
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.keyboardButtonHidden {
  position: fixed;
  bottom: 60px;

  left: 58%;
  transform: translateX(calc(737px / 2 - 80px));
  /* 737 = container max-width
     80 = button width */

  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: gray;
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.keyCont {
  margin-top: 5%;
  border: 1px white solid;
  border-radius: 8px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.hidden {
  display: none;
}

@media (max-width: 1350px) {
  .keyboardButton {
    display: none;
  }

  .keyboardButtonHidden {
    display: none;
  }

  .miniContainer {
    display: none;
  }
}

@media (max-width: 760px) {
  .keyboardButton {
    left: auto;
    right: 20px;
    transform: none;
  }
}

@media (max-width: 650px) {
  .word {
    font-size: 45px;
  }
  .readingWord {
    font-size: 21px;
  }
  .playButton {
    margin-top: -20px;
    width: 65px;
    height: 65px;
  }
}

@media (max-width: 470px) {
  .word {
    font-size: 32px;
  }
  .readingWord {
    font-size: 18px;
  }
  .playButton {
    margin-top: -20px;
    width: 55px;
    height: 55px;
  }
}
