.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fontsSelect {
  border: none;
  background-color: rgba(255, 0, 0, 0);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  box-shadow: none;
  width: 90px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  cursor: pointer;
}

.selectCont {
  display: flex;
  gap: 18px;
  cursor: pointer;
}

.contDiv {
  display: flex;
  align-items: center;
}

.horizontalLine {
  margin-left: 26px;
  margin-right: 26px;
  background-color: #e9e9e9;
  width: 1px;
  height: 32px;
}

.checkbox {
  margin-right: 20px;
}

.options {
  background-color: white;
  box-shadow: 0px 5px 30px 0px #0000001a;
  position: absolute;
  width: 183px;
  height: 152px;
  left: -50px;
  top: 40px;
  /* top: 105px;
  left: 772px; */
  opacity: 1;
  border-radius: 16px;
}

.selDiv {
  position: relative;
}

.option {
  width: 90;
  height: 40px;
  display: flex;
  opacity: 1;
  font-size: 20px;
  padding: 22px;
  font-weight: bold;
}

.option:hover {
  color: #a445ed;
  cursor: pointer;
}

.darSel {
  cursor: pointer;
}

.options.dark-mode {
  background-color: black;
  color: white;
  box-shadow: 0px 5px 30px 0px #a445ed;
}

.hotKeys {
  display: flex;
  color: #a445ed;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 8px;
}

.hotKeysMess {
  color: gray;
}

kbd {
  padding: 2px 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #8d8d8d;
  font-family: monospace;
}

.hotKeysMessage {
  position: absolute;
  background-color: rgb(121, 121, 121);
  padding: 20px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 18px;
  margin-top: 10px;
  margin-left: -15px;
}
