* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin-top: 58px;
  width: 100%;
  max-width: 737px;
  margin-left: auto;
  margin-right: auto;
}

body.dark-mode {
  background-color: black;
  color: white;
}
